<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap13="http://schemas.microsoft.com/appx/manifest/uap/windows10/13" xmlns:build="http://schemas.microsoft.com/developer/appx/2015/build"
  IgnorableNamespaces="uap mp uap13 build">

  <Identity
    Name="RDM-TestApp"
    Publisher="CN=Contoso Software (FOR LAB USE ONLY), O=Contoso Corporation, C=US"
    Version="192.0.11.0" />

  <mp:PhoneIdentity PhoneProductId="0d3c05f3-1ace-48d5-9a49-2d3c58f4ae7c" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>TestApp</DisplayName>
    <PublisherDisplayName>romaclac</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
    <uap13:AutoUpdate>
      <uap13:AppInstaller File="Update.appinstaller"/>
    </uap13:AutoUpdate>
    
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="11.0.18362.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="TestApp.App">
      <uap:VisualElements
        DisplayName="TestApp"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="TestApp"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>